<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6276e77aae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/images/11.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
   
</head>

<body>
    <div class="header">
        <a href="/articles">

            <h1 class="high"><i class="fab fa-hubspot"></i>HIGH</h1>
        </a>
    </div>