<%- include('partials/header')-%>

<main class="home-page">
  <h2>Welcome to High</h2>
  <div class="link-div">
    <a class="anchor" href="/users/login">Sign In</a>
    <a class="anchor" href="/users/register">Sign Up</a>
    <a class="anchor" href="/auth/github">Github</a>
    <a class="anchor" href="/auth/google">Goggle</a>
  </div>
</main>
    
  </body>
</html>
