<%- include("partials/header") -%>
<div class="form-body">

    <h1 class="create-heading">Create An Article </h1>
    <div class="form">
        <form action="" method="POST" enctype="multipart/form-data">
            <input class="form-title" type="text" name="title" id="" placeholder="Title">
            <textarea name="content" id="" cols="140" rows="18" placeholder="Write your article"></textarea>
            <input class="form-tags" type="text" name="tags" id="" placeholder="#Tags">
            <button class="form-button" type="submit">CREATE</button>
            <a class="form-button" href="/">HOME</a>
        </form>
    </div>
</div>
</body>

</html>



